@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
* {
	box-sizing: border-box;
	text-decoration: none;
	margin: 0;
	font-family: 'Poppins', sans-serif;
}
body {
	width: 100%;
	margin: 0;
	background: white;
}
img {
	width: 100%;
}
.main-container{
	min-height: 90vh;
}


/*---------- header ------------*/
header {
	background: #272d39;
	position: fixed;
	width: 100%;
	top: 0;
}
main {
	padding-top: 56px;
	line-height: 2;
}
.logo {
	padding: 10px 0;
	margin-left: 20px;
	display: inline-block;
	color: #FFDF00;
	text-decoration: none;
}
.hamburger {
	display: inline;
	position: absolute;
	top: 0;
	right: 0;
    width: 53px;
    border: 1px solid black;
    padding: 15px 5px;
    transition: border 0.4s;
    background: black;
}
.hamburger:hover {
    border: 1px solid #e7746f;
}
.line {
    display: block;
    background: #dee0e3;
    height: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
}
#menu {
	display: none;
}
#menu a {
	display: block;
	text-align: center;
	color: #f4f4f4;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	border: 1px solid black;
	text-decoration: none;
	margin-bottom: 1px;
	background-color: #e7746f;
	transition: background-color 0.4s ease-in;
}
#menu a:hover {
	background-color: black;
}
/*------------ Homepage --------------*/
.container{
	margin: 0 auto;
	max-width: 1000px;
	padding: 1rem;
	background-color: #f4f4f4;
}
.product-list {
    display: grid;
    grid-gap: 1rem;
}
a p {
	text-decoration: none;
	color: black;
	font-weight: 300;
	padding: 0 1rem;
}
.btn {
	display: block;
	text-align: center;
}
.add-to-cart {
	width: 100%;
	font-size: 1.1em;
	background-color: #d4af37;
	color: white;
	border: 0;
	border-radius: 1em;
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	transition: background-color 0.6s ease-in-out;

}
.add-to-cart:hover,
.add-to-cart:focus {
	background-color: #272d39;
}
.add-to-cart:click {
	background-color: #d4af37;
}

/*--------- Details Page ---------*/
.details {
	padding: 10px;
	/*--- media queries---*/
}


/*--------- Cart Page ------------*/
.cart {
	padding: 10px;
}
.card {
	display: grid;
	border: 1px solid #dee0e3;
	grid-template-columns: 1fr 1fr;
	max-height: 190px;
	padding: 5px;
}
.card-img {
	max-width: 150px;
	max-height: 150px;
	object-fit: cover;
}
.name {
	color: black;
}
.price {
	color: black;
}
.proceed-btn {
	font-size: 1.1em;
	background-color: #d4af37;
	color: white;
	border: 0;
	border-radius: 1em;
	width: 300px;
	margin: 0;
	padding: 10px;
	transition: background-color 0.6s;
	cursor: pointer;
}
.proceed-btn:hover {
	background-color: #272d39;
}
.increase, .reduce {
	width: 30px;
	font-size: 1.1em;
	text-align: center;
	background-color: #d4af37;
	color: white;
	border: 0;
	border-radius: 16px;
	margin: 0;
	transition: background-color 0.6s;
	z-index: 1;
}
.increase:hover,
.increase:focus {
	background-color: green;
}
.reduce:hover,
.reduce:focus {
	background-color: red;
}

/*-----Pagination------*/

.pagination {
	list-style-type: none;
	list-style-position: inside;
	margin: 0 auto;
	padding-top: 2rem;
	padding-bottom: 1rem;
	text-align: center;
}
.pagination li {
	display: inline;
}
.paginator-btn {
	border: 1px;
	padding: 5px 10px;
	cursor: pointer;
	border-radius: 5px;
	background-color: #c9c9c9;
}
.paginator-btn-current {
	border: 1px;
	background-color: #f4f4f4;
	padding: 5px 10px;
}

/*------Cart Icon------*/

.cart-link{
	position: fixed;
	bottom: 0;
	right: 0;
}
.cart-icon {
	background-color: #e7746f;
	background-size: 80%;
	background-position: left center;
	background-repeat: no-repeat;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	float: right;
	padding-top: 7px;
}
.num {
	text-align: center;
	color: white;
}


/*-----------Dashboard------------*/

.notifications {
	display: flex;
	flex-direction: column;
}
.order-notification {
	text-align: center;
	background-color: red;
	margin: 0 auto;
	padding: 0 20px;
}
.product-table {
	display: block;
	padding: 5px 10px;
}
.product-table-item {
	display: block;
	justify-content: space-around;
	margin: 0;
}
.product-table-item img {
	max-width: 120px;
}
.product-table-item:nth-child(odd) {
	background-color: #D3D3D3;
}
.form {
	margin: 0 10px;
}
.form label, input, select, textarea {
	width: 100%;
	font-size: 1rem;
}
@media(min-width: 580px){
	/*---navigation---*/
	.hamburger {
		display: none;
		position: relative;
	}
	#menu {
		display: inline-block;
		padding: 20px 0;
		float: right;
	}
	#menu a {
		display: inline;
		padding: 10px;
		border: 1px;
		margin: 0 20px;
		border-radius: 5px;
		background-color: #272d39;
	}
	#menu a:hover,
	#menu a:focus {
		background-color: #e7746f
	}

	/*----body----*/

	.container {
		padding: 1rem 0 0 0;
	}
	.product-list {
		grid-gap: 1rem;
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	}
	.product-image {
		text-align: center;
	}
	.product-image img {
		height: 210px;
		width: auto;
	}


	/*--------- Details Page ---------*/

	.detail-grid {
		display: grid;
		grid-template-columns: 3fr 1fr;
		grid-gap: 1.5rem;
	}
	.purchase {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}
	.purchase p {
		font-weight: 400;
	}
	.details-price {
		font-size: 2rem;
		margin-bottom: .5rem;
	}
	.product-description {
		font-weight: 300;
	}
}
